@{
    ViewData["Title"] = "Access Denied";
}
<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-5 border-bottom text-center pb-2">ERİŞİM ENGELLENDİ</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center mt-2">
        <h1 class="text-danger text-center"><i class="fa-solid fa-ban fa-5x"></i></h1>
        <p>İlgili sayfaya erişim yetkiniz yoktur.</p>
        <div class="text-center">
            <a asp-action="Info" asp-controller="Home" class="btn btn-primary">Ana Sayfaya Dön</a>
        </div>
    </div>
</div>