@{
    ViewData["Title"] = "Ana Sayfa";
}
<head>
    <link href="~/css/info.css" rel="stylesheet" />
</head>
<body>

    <div class="row mt-5">
        <div class="col-6">
            <div class="bg">
                <h1 class="display-4">HAKKIMIZDA</h1>
                <p>
                    <b>GÖKYÜZÜNÜN HERKES İÇİN OLDUĞUNA İNANIYORUZ</b><br />
                    Herkesin hikayesinin farklı olduğunun farkındayız ve 
                    size özel bir seyahat deneyimini hak ettiğinize inanıyoruz. 
                    Bu deneyimi kolay, uygun fiyatlı ve keyifli hale getirmek bizim görevimizdir. İster sevdiklerinizle yeniden bağlantı kuruyor olun, ister bir sonraki harika maceranıza doğru ilerliyor olun, ister yalnızca saklamanız gereken bir bütçeniz olsun, sizi oraya götüreceğiz. Çünkü herkesin havayolu şirketi olmak istiyoruz.
                </p>
                <a asp-controller="Reservation" asp-action="Flight"><i class="fa-solid fa-plane-departure"></i> UÇUŞLARIMIZ</a>
            </div>
        </div>
    </div>

</body>