<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AirlinesReservationWebProject2</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/lib/toastrjs/toastr.css" rel="stylesheet" />
	<link href="~/lib/toastrjs/toastr.min.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AirlinesReservationWebProject2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Info">Airlines Flight Reservation</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Info">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="Flight">Uçuşlarımız</a>
                        </li>


                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item ">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="MyFlight"><i class="fa-solid fa-plane me-2"></i>Seyahatlerim</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile"><i class="fa-solid fa-user me-2"></i>@User.Identity.Name.Split(' ')[0].ToUpper()</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-to-bracket me-2"></i>Çıkış Yap</a>
                            </li>
                            if (User.IsInRole("admin"))
                            {
                               
                                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa-solid fa-cogs me-2"></i>
                                                ADMIN
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-light">
                                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="AdminUsers" asp-action="Index"><i class="fa-solid fa-users me-2"></i>Kullanıcı Yönet</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="AdminFlights" asp-action="Index"><i class="fa-solid fa-map-location me-2"></i>Uçuşları Yönet</a></li>
                                                <li><a class="dropdown-item" href="#">Rezervasyonları Yönet</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            }

                        }

                        else
                        {
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-right-to-bracket me-2"></i>Giriş Yap</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register"><i class="fa-solid fa-user me-2"></i>Kayıt Ol</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
        <div style="padding-top: 90px;"></div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - G221210389 - <a class="custom-link" href="https://github.com/bugrakayacan"><i class="fa-brands fa-github"></i> Github</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/toastrjs/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
