html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    height: 50px; /* Footer y�ksekli�ini belirle */
    width: 100%;
    bottom: 0;
}

    footer .container {
        color: black
    }

    footer .custom-link {
        color: black;
        text-decoration: none;
    }
